/**********************************************
*** GENERAL
**********************************************/
@font-face {
    font-family: 'NexaRustSlab-BlackShadow01-Free';
    src: url('vendor/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('vendor/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Milkshake';
	src: url(vendor/fonts/Milkshake.ttf);
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
	min-width:1250px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   
	height: 100vh;
    color: #555;
    font-family:  'Dosis', sans-serif;
    font-size: 16px;
    position: relative;
    height:100%;
    
    font-weight: 400;
	overflow-x: hidden;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }





/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 200px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.65), rgba(0,0,0,0.3), rgba(0, 0, 0, 0.65)), url(back.jpg);
	background-attachment: scroll;
	background-size: cover;
   
    position: relative;
	
}

.top__title {
	height: 100%;
	position:relative;
    
    
}

.page__title {
	position: relative;
	text-align: center;
	top:30%;
	color:aliceblue;
}

/**********************************************
*** INFOPAGE PART
**********************************************/
.info__container {
	position: absolute;
	display: none;
	width: 80%;
	height: auto;
	text-align: center;
	opacity:0;
	transition: opacity 0.5s;
	z-index: -1;
	left:10%;
}

.info__container.visible {
	opacity: 1;
	display:inline-block;
}
.formula__info , .info {
	text-align: left;
	width: 60%;
	
}
.info {
	
	margin:70px auto 100px auto;
	
}



.formula__info {
	margin:0px auto 0px auto;
	vertical-align: middle;
	padding: 20px 4px 20px 30px;
	
	background-image: url(resources/img/paper.jpg); 
	background-size: cover; 
	
	color: rgba(46,46,46,0.90);
	box-shadow: 6px 6px 5px rgba(0, 0, 0, .5);
}

.info p {
	font-size: 16px;
	letter-spacing: .04em;
	margin-bottom: 35px;
	
}

.formula__info table {
	display:table;
	
}

.formula__info table tbody tr td span {
	margin: auto 0px auto 0px;
	line-height: normal;
}





/**********************************************
*** BOTTOM PART
**********************************************/
.bottom {
	
	min-height: 420px;
    padding-top: 45px;
	transition: transform 0.5s;
	z-index: 2;
	
}

.hide__bottom.bottom {
	transform: translateX(100vw);
	height: 100vh;
	overflow: hidden;
}

body::after {
	content: "";
  	position: fixed;
  	top: 0; left: 0;
  	width: 100%; min-height: 100%;
	background-image: url(resources/img/cocina.gif);
	opacity: 0.05;
	filter: saturate(100%);
	
	background-size: auto, cover;
	z-index:-999;
}
.left__container {
    
    float:left;
	width:50%;
	
	margin-left: 23%;
	margin-bottom: 100px;
    transition: margin-left 1s;
    display: inline-block;
    
    background-color: white;
}

.sort__bar {
    position: relative;
    top: 73px;
    left: 15px;

    width:52px;
    height:343px;
    background: rgba(40,185,181,1.00);
    border-top-left-radius: 15px;
    float:left;
    padding: 0 1px;
}

.sort__title {
    color: #FFF;
    margin: 8px 5px;
    line-height: 15px;
}
.sort__options {
    width: 48px;
    text-align: center;
    margin-left:1px;
}
.sort__options li {
    list-style: none;
    padding: 5px 0;
    margin: 1px 0;
    background: #f7f7f754;
    border-top: 1px solid rgba(117, 117, 117, 0.212);
    border-bottom: 1px solid rgba(117, 117, 117, 0.212);
    transition: all 0.5s;
    cursor: pointer;
}

.sort__options li.active {
    background: #f7f7f794;
   
    transform:translateX(2px);
}

.sort__options li:hover {
    background: #f7f7f774
}

.quick__add {
    display:flex;
    justify-content: center;
	height: 20px;
	width: auto;
	padding-left: 0%;
}

.available__food__container {
	
	height:auto;
	width: 50%;
	float:left;
	padding-left:15px;
}

.selected__food__container {
    width: 40%;
    
	float:left;
	border-left-width: 5px;
}



.selected__food__header {
	position:relative;
	height: 73px;
	width: 100%;
}

.available__food__header{
    position:relative;
    height: 73px;
    width: 100%;
}

.selected__food__header h2 {
	float:left;
	margin-left: 10%;
}
.selected__food__header .remove__all {
	height: 27px;
	width: 27px;
	position: relative;
	top: 1px;
	letter-spacing: -1px;
	cursor: pointer;
	border: 1px solid rgba(255,80,73,1.00);
	border-radius: 50px;
	color: rgba(255,80,73,1.00);
	padding: 3px 5px 3px 5.5px;
	float:left;
	
    transform: rotateY(180deg);
    z-index: 5;
}

.selected__food__header .cash__icon {
	
	
	position:absolute;
	bottom: 28px;
	left: 112%;
	font-size: 44px;
	color: rgba(105,143,65,0.7);
}

.add__all, .t1__add, .t1_5__add, .t2__add, .t2_5__add {
	letter-spacing: -1px;
	cursor: pointer;
	color: rgba(40,185,181,1.00);
	border: 1px solid rgba(46,185,181,1.00);
	border-radius: 50px;
	padding: 3px 5px 3px 5.5px;
	float:right;
	font-size: 14px;
	margin-right: 6px;
	margin-top:-10px;
	margin-bottom: 5px;
}

.double__chevron {
	margin-left: 5px;
}

.t1__add i, .t1_5__add i, .t2__add i, .t2_5__add i {
	font-size: 10px;
	 
}



/***** FORM *****/

.calculate {
    height:7%;
	min-height: 70px;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
	background-image: linear-gradient(#f7f7f7, #f7f7f7);
    background-color: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    position:sticky;
    top:0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 999;
}

.calculate__container {
    display:inline-block;
    width:auto;
    height: 70px;
    margin-left: 50px;
	
	vertical-align: middle;
    text-align: center;
    float:left;
    
}
.calculate__container .visible {
	display: inline-block;
	cursor:pointer;
}

.info__button {
	display: inline;
	position: relative;
	float: left;
	font-size: 38px;
	color: #28B9B5;
	left: 5px;
	bottom:5px;
	transition: all 0.5s;
	cursor: pointer;
}

.clicked.info__button {
	transform: scale(1.8);
	color: #A1A1A1;
	
	
}

.input__container {
	display: inline-block;
	position: relative;	
    height:70px;
	
    float:left;
    align: center;
    margin-left: 20%;
}

.food__amount,
.sim__amount,
.budget__amount,
.calorie__amount {
	display: block;
	height: auto;
	float: left;
    width: auto;
}


.sim__amount {
	margin-left: 10px;
}

.food__amount__input, 
.simulation__scale__input,
.budget__amount__input,
.calorie__amount__input {
	outline:0;
    height: 40px;
    display: block;
	padding-left:10px;
	background-color: rgb(255, 255, 255);
    
    font-size: 16px;
    font-family:inherit;
	float:left;
	transition: all 0.5s;
}

.food__amount__input {	
	border: 2px solid #ccc;
    width: 150px;
}

.simulation__scale__input {
    border: 2px dashed #ccc;
    width: 150px;
}



.budget__amount__input,
.calorie__amount__input {
	margin-left: 10px;
	width: 80px;
	border: 2px dashed #ccc;
}

.food__amount__input:focus, 
{
	border: 2px solid rgba(40,185,181,1.00);
}

.budget__amount__input:focus,
.simulation__scale__input:focus,
.calorie__amount__input:focus {
	border: 2px dashed rgba(40,185,181,1.00);
}



.info__text {
	visibility: hidden;
	padding:5px 10px 10px 5px;
	position:absolute;
	height: auto;
	width: 280px;
	top: 75%;
	background: rgba(247,247,247,1.00);
	border: 4px solid rgba(156,194,187,1.00);
    border-radius: 5px;
    
    -moz-box-shadow: 6px 6px 10px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    
	z-index: 999;
	font: 15px;
	font-family: inherit;
	color: #000000;
	opacity: 0;
	transition: opacity 0.5s;
	
}
.info__text:after {
content: "";
  position: absolute;
  bottom: 100%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color:  transparent transparent rgba(156,194,187,1.00) transparent;
}



.food__amount .info__text:after {
	left: 10%;
}
.sim__amount .info__text {
	left: 40%;
	height: auto;
}
.sim__amount .info__text:after {
	left: 20%;
}

.budget__amount .info__text:after {
	left: 13%;
}
.calorie__amount .info__text:after {
	left: 13%;
}

.food__amount:hover .info__text,
.sim__amount:hover .info__text,
.budget__amount:hover .info__text,
.calorie__amount:hover .info__text {
	visibility: visible;
	opacity: 1;
}

.food__amount .info__text .menu__size__example {
    text-align: left;
    margin: 5px 0 0 15px;
}


.withAsync {
    margin-left: 15px;
    
}
.withWorker {
    margin-left:15px;
}




/***** LISTS *****/


h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.available__food__title { 
	position:relative;
	color: #28B9B5; 
}
.selected__title { 
    color: #FF5049;
    position: relative;
    margin-left: 15px;
	
}

.available__food__list,
.selected__food__list {
    border-top: 3px solid #e7e7e7;
}


.left__container .item {
	position:relative;
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    height: 55px;
	background-color: #FFFFFF;
	
}

.available__img {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin-left: 4%;
    position:relative;
    bottom: 25%;
	filter: brightness(1.1);
}


.item span {
    margin-left: 15px;
}

.item .food__info {
	display: none;
	
	position: relative;
	min-width:192px;
    width: 230px;
	height: 160px;
	background: rgba(0,0,0,0.92);
	top:-49px;
	left: 105%;
	z-index: 9999;
	
	border: 3px ridge #5275a5;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #84d56a;
	text-align: left;
	 
}
.available__img:hover ~ .food__info {
	display:block;
}

.item .food__info:after {
content: "";
  position: absolute;
  bottom: 50%;
	left: -18px;
  margin-left: -5px;
  border-width: 10px;
  border-style: ridge;
  border-color:  transparent #5275a5 transparent  transparent;
}

.item .food__info__title {
	width:100%;
	height: 40px;
	display:block;
	
}

.item .food__info img {
	
	height: 30px;
	float:left;
	position: absolute;
	left:0%;
	
}
.item .food__info h5 {
	display: inline-block;
	font-size: 18px;
	float:left; 
	position: absolute;
	top:4px;
	left: 35px;
	text-align: left;
}

.food__info__nutrition h6 {
	color: #FFF;
	font-size: 12px;
}

.food__info__nutrition h6:first-child {
	
	margin-bottom: 7px;
}
.food__info__nutrition h6:last-child {
	
	margin-top: 7px;
}


.item:nth-child(even) { background-color: #f7f7f7; }

.left__container .item__description {
    float: left;
    font-size: 20px;
    font-weight: 500;
}


.available__food__container .item__value,
.available__food__container .item__delete--btn {
    color: #28B9B5;
}

.selected__food__container .item__value {
    color: #FF5049;

}

.left__container .item__delete,
.left__container .item__add {
    float: right;
}

.left__container .item__delete {
    height: 22px;
	width: 22px;
}


.item__delete--btn, .item__add--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    vertical-align: middle;
    line-height: 0;
    float:right;
    
}

.item__delete--btn {
	padding-top: 1px;
    
    color:#FF5049;
    
    font-size: 26px;
    border-radius: 25px;
	
	text-align: center;
	font-weight: bold;
}


.item__add--btn {
	padding-top: 1px;
    margin-top: 1px;

    color: white;
	background: #28B9B5;
	border-radius: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	font-weight: bold;
}
.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }
.item__add--btn:active {transform: translateY(2px);}
.item:hover .item__delete--btn { display: block; }

.item__price {
	position:absolute;
	left: 97%;
	top: -38px;
}

.item__price__container img {
	height: 110px;
}

.item__price__container input {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 45px;
	top: 47px;
	right:26px;
	
	background: rgba(185,245,120,0.16);
	z-index:6;
	outline:none;
	font-family: dosis;
	font-size: 16px;
	border: 1px rgba(247,247,247,1.00);
	border-radius: 5px;
    text-align: center;
    transform: rotate(-2deg);
}



.item__price__container p {
	display: inline-block;
	position: relative;
	font-size: 30px;
	bottom: 72px;
	left: 86px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	margin: 0;
}

.item .stomach__add {
    height:25px;
    width:25px;
    float:right;
    margin-right:10px;

    cursor: pointer;

}

/**************************************
RIGHT CONTAINER
**************************************/
.right__container {
	position:absolute;
	left: 50vw;
	float:left;
	width:49vw;
	padding-top:25px;
	padding-left: 25px;
	box-sizing: border-box;
	pointer-events: none;
	
}

.menu__paper {
	position: absolute;
	
	width: 200px;
	min-width:263px;
	min-height:250px;
	overflow: hidden;
	
	background-image: url(resources/img/paper.jpg); 
	background-size: cover;
	
	box-shadow: 6px 6px 10px rgba(109, 114, 116, 0.9);
	border-radius: 3px;
	
	transition: all 0.5s;
    right:-170%;

	transform: translateX(0%);
    filter: blur(0px);
    
    z-index:100;
}

.menu__visible {
    right: 8%;
    filter:blur(0px);
}

.menu__visible:hover {
    transform: scale(1.1);
}

.menu__result {
	margin-bottom:20px;
}

.menu__paper h1 {
	text-align: center;
	padding-top: 23px;
	font-family: 'NexaRustSlab-BlackShadow01-Free';
	letter-spacing: 2px;
	font-size: 40px;
}

.menu__paper .horizontal__line {
	width: 60%;
	height: 3px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 30px;
	position: relative;
	left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.menu__paper p {
	margin-left: 15%;
	font-size: 20px;
	font-family: 'Milkshake';
	line-height: 35px;
	color: rgba(85,85,85,0.78);
	word-spacing: 3px;
	letter-spacing: 0.3px;
	text-rendering: optimizeLegibility;
}

.menu__result p {
	font-size: 22px;
	word-spacing: 3px;
	
}


.stop__button {
	display: none;
	
	color: red;
	padding:2px 7px 2px 7px;
	margin-left: 10px;
	height: auto;
	width: auto;
	float:left;
	font-size: 24px;
	border: 2px solid red;
	border-radius: 100px;
}



.calculate__btn {
    position: relative;
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
	align-content: center;
    line-height: 1.1;
    margin-left: 0px;
	font-family: inherit;
    border-width: 3px;
    border-color: #28B9B5;
	float:left;
}
.calculate__btn:active { transform: translateY(2px); }


#progress__bar {
    height: 35px;
    width: 200px;
    background: #ddd;
	border: 2px solid rgba(30,139,136,1.00);
	border-radius: 5px;
    left: 100px;
    margin-top: 2px;
    margin-left: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height:35px;
	float:left;
}

#inner__bar {
    height: 100%;
    width: 0%;
	
    background: #28B9B5;
}

/******************
FOOTER
******************/

footer {
	display:block;
	position: fixed;
	bottom:0px;
	height: 53px;
	width: 100%;
	background-color: #F7F7F7;
	border-top: 3px solid rgba(40,185,181,1.00);
	z-index: 9999;
	

}

.footer__button {
    display:inline-block;
    position: inherit;
    height: 38px;
    width:100px;

    margin-top: 3px;
    
    cursor:pointer;

    text-align:center;

    border-radius: 10px;

    transition: background-color 0.4s ease-out;
}


/***********************************************
***STOMACH CONTAINER
***********************************************/

.stomach__button {
	display: inline-block;
    position:inherit;
    
    padding-right:5px;
	padding-top: 0px;
    margin-left:80px;
    
    float:left;
	background-color:rgba(233,155,88,1.00);
	box-shadow: 0 5px #7E3E00;
}

.stomach__button.clicked {
    margin-top: 6px;
    box-shadow: 0 2px #7E3E00;
    background-color:rgb(247, 176, 115)
}

.stomach__button:hover {
    background-color:rgb(247, 176, 115)
}

.stomach__container {
	position: fixed;
    
    width: 280px;
	height: 400px;
	bottom: -365px;
	left: 80px;
	
    background: rgba(240,146,70,1);
    background: -moz-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,146,70,1)), color-stop(100%, rgba(242,203,169,1)));
    background: -webkit-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -o-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: linear-gradient(to bottom, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09246', endColorstr='#f2cba9', GradientType=0 );

	
	border: 4px double rgb(255, 200, 137);
    border-radius: 20px;
    
    transition: all 0.4s;

    z-index: 1000;
}

.stomach__container.visible {
    bottom: 68px;

}

.stomach__container h1 {
    text-align: center;

    margin-top:10px;
    font-size: 34px;
    font-weight: 700;
    color: rgb(94, 41, 41);

    

}

.stomach__container::after {
	content: "";
	position: absolute;
	bottom:-40px;
	left:30px;
	
	border-width: 20px;
  	border-style: solid;
 	border-color: rgb(255, 200, 137) transparent transparent transparent;
}



.stomach__apply__button__container {
    display:inline-block;
    text-align: center;
    width:176px;
    height: 40px;
    margin-left:47px;
    
}

.stomach__apply__button__flipper {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    width: 11em; height: 2.5em;
    background-color: rgb(241, 198, 161);
    box-shadow: 0 3px 5px rgb(238, 166, 104);
    transition: all 0.6s cubic-bezier(.36,.65,.37,1.39);
    transform-style: preserve-3d;
    
    cursor:pointer;
    
}

.stomach__apply__button__flipper.clicked {
    transform: rotateX(90deg);
}

.stomach__apply__button__front-face, .stomach__apply__button__back-face {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    
    letter-spacing: 2px;
    line-height: 2.5em;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.158);
    
}

.stomach__apply__button__front-face {
    background-color: #77341F;
    color: #fff;
    text-shadow: 0 1px 1px black;
    
    transform: rotateX(0deg) translateZ(1.25em);
    
    
}

.stomach__apply__button__back-face {
    background-color: #3FC258;
    color: white; 
    transform: rotateX(-90deg) translateZ(1.25em);
    
}

.stomach__list__container {
    display: inline-block;

    overflow:auto;
    overflow-x: hidden;

    scrollbar-color: rgb(128, 46, 58) rgb(237, 102, 122);
    scrollbar-width: thin;
    margin: 20px 0 0 6px;
    height: 270px;
    border-radius: 20px;
    width: 260px;
    background-color: rgb(237, 102, 122);
    box-shadow: inset 0px 0px 4px 1px rgb(104, 56, 1);

    
    
    }


.stomach__list__container .item {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    
    padding: 5px 0px 0px 6px;
    margin: 1px 0 0 15px;
    
    height: 40px;
    width: 230px;
    
    background-color:rgba(162, 65, 65, 0.96);;

    border-radius: 5px;
    border: 2px solid #ec7b7b;
}

.stomach__list__container .item:first-child {
    margin-top: 8px;
}

.stomach__list__container .item .item__description {
    font-size: 20px;
    font-weight: 500;
    color: rgb(248, 205, 156)
}

.stomach__list__container .item .stomach__food__input  {
    margin: -2px 5px 0 auto;
    padding-left: 4px;
    width: 35px;
    height: 30px;
    border:none;
    background:rgb(255, 153, 168);
    border-radius: 4px;
    font-size: 20px;

    box-shadow: inset 0px 0px 2px 1px rgb(104, 56, 1);
}



.stomach__list__container .item  .stomach__item__delete--btn {
    
    padding: 1px 6px 0 0;
    

    color:rgb(253, 124, 144);

    background: none;
    border: none;
    cursor: pointer;
    line-height: 0;

    font-size:24px;
}



/**********************************************
*** HIGH SCORE
**********************************************/

.highscore__button {

    position:relative;

    right:80px;
    float:right;
    font-size: 32px;
    color: rgb(174, 255, 253);
    background-color: rgb(40, 185, 181);

    
    transform-origin: center;
    box-shadow: 0px 5px rgb(36, 145, 142);
    
    
}
.highscore__button:hover {
    background-color: rgb(45, 230, 223);
}

.highscore__button.clicked{
    background-color: rgb(45, 230, 223);
    box-shadow: 0px 2px rgb(36, 145, 142);
    margin-top:6px;
    
}

.highscore__container {
    position: fixed;
    width: 280px;

    min-height: 20%;
    right: 0px;
    bottom: -280px;;
    background: rgba(247,247,247,1.00);

	border: 3px solid rgba(40,185,181,1.00);
	border-bottom: 0px;
    border-radius: 10px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    font-size: 20px;
    color: #64707B;
    font-family: inherit;

    transition: all 0.5s;

	z-index: 999;
}

.highscore__container.visible {
    bottom:49px;
}

.highscore__container .highscore__title {
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    width: inherit;
    height: 50px;
}

.highscore__container .highscore__title .best__button {
    width:35px;
    height: 35px;
    background-color: rgba(40,185,181,1.00);
    
    align-self: center; 
    text-align: center;

    padding-top:3px;
    margin: 6px 0 0 15px;

    cursor: pointer;
    color:white;
    font-weight: 700;

    border-radius: 10px;
    box-shadow: 0px 5px rgb(36, 145, 142);
    
    
}
.highscore__container .highscore__title .best__button.clicked{
    box-shadow:none;
    margin: 11px 0 0 15px;
}

.highscore__container h1 {
    float: left;
}

.highscore__content h2 {
    letter-spacing: 0px;
}
.highscore__content {
    margin-left: 15px;
	padding-bottom: 15px;
}
.highscore__content p {
    font-size: 16px;
}