/**********************************************
*** GENERAL
**********************************************/
@font-face {
    font-family: 'NexaRustSlab-BlackShadow01-Free';
    src: url('public/vendor/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('public/vendor/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Milkshake';
	src: url(public/vendor/fonts/Milkshake.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'abel';
    src: url(public/vendor/fonts/Abel-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(public/vendor/fonts/Inter.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
	       /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    
	height: 100vh;
    color: #555;
    font-family:  'abel', sans-serif;
    font-size: 16px;
    position: relative;
    height:100%;
    
    font-weight: 400;

    overflow-x: hidden;
	
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.blurred {
    filter: blur(3px);
}
.hidden {
    display:none;
}
/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 200px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.65), rgba(0,0,0,0.3), rgba(0, 0, 0, 0.65)), url(public/back.jpg);
	background-attachment: scroll;
	background-size: cover;
   
    position: relative;
    
    transition: all 0.3s;
}

.top__title {
	height: 100%;
	position:relative;
    top: 30%
    
}

.page__title {
	position: relative;
	text-align: center;
	color:aliceblue;
}

/**********************************************
*** INFOPAGE PART
**********************************************/
.info__container {
	position: absolute;
	visibility: hidden;
	width: 80%;
	height: auto;
	text-align: center;
	opacity:0;
	transition: opacity 0.5s;
	z-index: -1;
	left:10%;
}

.info__container.visible {
	visibility: visible;
	opacity: 1;
}
.formula__info , .info {
	text-align: left;
	width: 60%;
	
}
.info {
	
	margin:70px auto 100px auto;
    text-align: center;
    line-height: 1.6;
}


.info p {
    font-size: 20px;
    letter-spacing: .04em;
    margin-bottom: 35px;
    
}

.formula__info {
	margin:0px auto 0px auto;
	vertical-align: middle;
	padding: 20px 4px 20px 30px;
	
	background-image: url(public/img/paper.jpg); 
	background-size: cover; 
	
	color: rgba(46,46,46,0.90);
	box-shadow: 6px 6px 5px rgba(0, 0, 0, .5);
}


.formula__info table {
	display:table;
	
}

.formula__info table tbody tr td span {
	margin: auto 0px auto 0px;
	line-height: normal;
}





/**********************************************
*** MAIN  PART
**********************************************/
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
    min-height: 420px;
    padding-top: 55px;
	padding-bottom:150px;
	transition: transform 0.5s;
    z-index: 2;
    overflow-x: hidden;
	
}

.hide__content.content {
	transform: translateX(100vw);
	height: 100vh;
	overflow: hidden;
}

body::after {
	content: "";
  	position: fixed;
  	top: 0; left: 0;
  	width: 100%; min-height: 100%;
	background-image: url(public/img/cocina.gif);
	opacity: 0.05;
	filter: saturate(100%);
	
	background-size: auto, cover;
	z-index:-999;
}
.lists__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;

    margin-right: 50px;
    
    width:50%;
    min-width: 610px;
    
    
    transition: all 1s;

    
    
}

.update__info {
    font:24px;
    height:30px;
    width: 100%;
    text-align:center;
    position: relative;
    color: #FFF
}

.lists__container.menu__visible {
    margin-right: 40%;
}




/***** CALCULATE PART *****/

.calculate {
    height:70px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    border-bottom: 1px solid #e7e7e7;
	background-image: linear-gradient(#f7f7f7, #f7f7f7);
    background-color: #f7f7f7;

    position:sticky;
    top:0;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 999;

    transition: all 0.4s;
}

    /****NAVBAR ****/

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 50px;

    top: 70px;
    left: 45vw;
    background:#e7e7e7;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.navbar__content {
    display: flex;
    flex-direction: row;
    
    align-content: center;
    justify-content: center;
    
    position: relative;


    

}
.navbar__content i {
    position:relative;

    font-size: 50px;
    margin: 0 10px;
    cursor: pointer;
    bottom:5px;
}
.navbar__content i:hover {
    color: #c5c5c5;

}
.info__button {
    position: relative;
    top: 0px;

    margin-left: 20px;
	font-size: 38px;
	color: #28B9B5;
	
	transition: all 0.5s;
	cursor: pointer;
}

.clicked.info__button {
	transform: scale(1.8);
	color: #A1A1A1;
	
	
}

.input__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


	position: relative;	
    margin-left: auto;
}

.food__amount,
.sim__amount,
.budget__amount,
.calorie__amount,
.maxSP__amount,
.calorieperdollar__amount {
    display: inline;
    position:relative;
	
}

.sim__amount {
	margin-left: 10px;
}

.food__amount__input, 
.simulation__scale__input,
.budget__amount__input,
.calorie__amount__input,
.maxSP__amount__input,
.calorieperdollar__amount__input {
	outline:0;
    height: 40px;
	padding-left:10px;
	background-color: rgb(255, 255, 255);
    
    font-size: 16px;
    font-family:inherit;
	
	transition: all 0.5s;
}

.food__amount__input {	
	border: 2px solid #ccc;
    width: 130px;
}

.simulation__scale__input {
    border: 2px dashed #ccc;
    width: 130px;
}

.budget__amount__input,
.calorie__amount__input,
.maxSP__amount__input,
.calorieperdollar__amount__input {
	margin-left: 10px;
	width: 80px;
	border: 2px dashed #ccc;
}

.food__amount__input:focus, 
{
	border: 2px solid rgba(40,185,181,1.00);
}

.budget__amount__input:focus,
.simulation__scale__input:focus,
.calorie__amount__input:focus,
.maxSP__amount__input:focus,
.calorieperdollar__amount__input:focus {
	border: 2px dashed rgba(40,185,181,1.00);
}

.info__text {
	visibility: hidden;
	padding:5px 10px 10px 5px;
    position:absolute;
    
	height: auto; width: 280px;
    
    top: 130%;
    left: 0px;

	background: rgba(247,247,247,1.00);
	border: 4px solid rgba(156,194,187,1.00);
    border-radius: 5px;
    
    -moz-box-shadow: 6px 6px 10px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    
	z-index: 999;
	font: 15px;
	font-family: inherit;
	color: #000000;
	opacity: 0;
	transition: opacity 0.5s;
	
}
.info__text:after {
content: "";
  position: absolute;
  bottom: 100%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color:  transparent transparent rgba(156,194,187,1.00) transparent;
}

.food__amount .info__text:after {
	left: 10%;
}
.sim__amount .info__text:after {
	left: 20%;
}

.budget__amount .info__text:after {
	left: 13%;
}
.calorieperdollar__amount .info__text:after {
    left:13%
}
.calorie__amount .info__text:after {
	left: 13%;
}
.maxSP__amount .info__text:after {
    left: 13%;
}

.food__amount:hover .info__text,
.sim__amount:hover .info__text,
.budget__amount:hover .info__text,
.calorie__amount:hover .info__text,
.maxSP__amount:hover .info__text,
.calorieperdollar__amount:hover .info__text {
    visibility: visible;
	opacity: 1;
}

.food__amount .info__text .menu__size__example {
    text-align: left;
    margin: 5px 0 0 15px;
}

.calculate__container {
    display:flex;
    flex-direction: row;
    justify-content:left;
    flex-wrap: nowrap;
    width:auto;
    height: auto;
    margin-left: 2vw;
	margin-right: auto;
    text-align: center;
    
    
}
.calculate__container .visible {
	display: inline-block;
	cursor:pointer;
}

.calculate__btn {

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    
    color: #28B9B5;
    font-family: inherit;
    font-size: 35px;
    line-height: 1.1;
    
    border-width: 3px;
    border-color: #28B9B5;
}
.calculate__btn:active { transform: translateY(2px); }

.calculate__btn .calculate__btn--text {
    margin-right: 5px;
}

#progress__bar {
    height: 35px;
    width: 10vw;
    background: #ddd;
	border: 2px solid rgba(30,139,136,1.00);
	border-radius: 5px;
    left: 100px;
    margin-top: 2px;
    margin-left: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height:35px;
}

#inner__bar {
    height: 100%;
    width: 0%;
	
    background: #28B9B5;
}

.stop__button {
	display: none;
	
	color: red;
	padding:2px 7px 2px 7px;
	margin-left: 10px;
	height: auto;
	width: auto;
	font-size: 24px;
	border: 2px solid red;
	border-radius: 100px;
}

/***** LISTS *****/

.sort__bar {
    position: relative;
    top: 73px;
    left: 15px;

    display: flex;
    flex-direction: column;

    width:52px;
    height:370px;
    background: rgba(40,185,181,1.00);
    border-top-left-radius: 15px;
    padding: 0 1px;
}

.sort__title {
    color: #FFF;
    margin: 13px 5px;
    line-height: 15px;
}
.sort__options {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 48px;
    text-align: center;
    margin-left:1px;
}
.sort__options li {
    list-style: none;
    padding: 5px 0;
    margin: 1px 0;
    background: #f7f7f754;
    border-top: 1px solid rgba(117, 117, 117, 0.212);
    border-bottom: 1px solid rgba(117, 117, 117, 0.212);
    transition: all 0.5s;
    cursor: pointer;
}

.sort__options li.active {
    background: #f7f7f794;
   
    transform:translateX(2px);
}

.sort__options li:hover {
    background: #f7f7f774
}


.available__food__container {
    
    height:auto;
	width: 50%;
	padding-left:15px;
}

.selected__food__container {
    width: 40%;
    
	border-left-width: 5px;
}




.available__food__header {
    display:flex;
    flex-direction: column;
    justify-content: start;
    position:relative;
    width: 100%;
}
.quick__add {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    
    height: auto;
    width: auto;
    padding-left: 0%;
}
.add__all, .t1__add, .t2__add, .t3__add, .t4__add {
    margin-right: 6px;
    height: 25px;
    cursor: pointer;
    color: rgba(40,185,181,1.00);
    
    border: 1px solid rgba(46,185,181,1.00);
    border-radius: 6px;
    
    padding: 3px 4px 3px 5.5px;
    font-size: 14px;
    letter-spacing: -1px;
    
}
    /****************************
    Food Type Container
    *****************************/
.foodtype__container {
    padding: 3px 0 5px 4px;
    margin-top: 5px;

    width: 100%;
    height: 57px;
    display: flex;
    background:#28B9B5;
    flex-direction: row;
}

.circle__button {
    width: 50px;
    height: 46px;

    cursor: pointer;
    margin-left:5px;
    border-radius: 150px;
    border: solid 5px #26918e;
    background: #a0dddb;
    box-shadow: 0px 4px 0px #1a6462;

    transition: all, 0.2s;
}

.circle__button.active {
    border: solid 5px #4fe1dd;
    box-shadow: 0px 0px 0px #195f5d;
    
    transform: translateY(4px);
    
}

    /****************************
    Search Bar
    *****************************/
    .search_bar_container {
        padding: 10px 0 10px 12px;
        width: 100%;
        display: flex;
        flex-direction: row;

        background: #f0f0f0;
    }

    .search_bar_input {
        border: 2px solid #ccc;
        width: 230px;
        height: 35px;
        border-radius: 20px;
        padding-left: 10px;
        padding-bottom: 1px;
        transition: all 0.5s;
    }

    .search_bar_input:focus {
        border:2px solid rgba(40,185,181,1.00);
    }
    .search_bar_input_wrapper {

    }

    .search_bar_icon {
        padding-right:4px;

        font-size: 28px;
    }



.add__all:hover, .t1__add:hover, .t2__add:hover, .t3__add:hover, .t4__add:hover {
    
    box-shadow:inset 0px 0px 0px 1px rgba(40,185,181,1.00);
}

.t1__add i, .t2__add i, .t3__add i, .t4__add i {
    font-size: 10px;    
}

.selected__food__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    position:relative;
    height: 73px;
    width: 100%;
}
.selected__title { 
    color: #FF5049;
    position: relative;
    
	
}
.selected__food__header h2 {
    align-self: flex-start;
	
}
.selected__food__header .remove__all {
    height: 27px;
	width: 27px;
    position:absolute;
    display: inline-block;
    left:0;
    top:25px;
    
    
	letter-spacing: -1px;
	cursor: pointer;
	border: 1px solid rgba(255,80,73,1.00);
	border-radius: 50px;
	color: rgba(255,80,73,1.00);
	padding: 3px 5px 3px 5.5px;
	
    transform: rotateY(180deg);
    z-index: 5;
}

.selected__food__header .cash__icon {
	
	
	position:absolute;
	bottom: 15px;
	left: 110%;
	font-size: 44px;
	color: rgba(105,143,65,0.7);
}


.double__chevron {
    display:inline-block;
	margin-left: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.available__food__title { 
	position:relative;
	color: #28B9B5; 
}


.available__food__list{
    display: flex;
    flex-direction: column;

    border-top: 1px solid #e7e7e7;
}

.selected__food__list {
    display: flex;
    flex-direction: column;

    border-top: 3px solid #e7e7e7;
}


.lists__container .item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;

    position:relative;
    
    padding-left:10px;
    
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    height: 55px;
	background-color: #FFFFFF;
	
}

.available__food__list .item {
    border-right: 2px solid #e7e7e7;
}

.item .item__description {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 20px;
    font-weight: 500;
}

.item .item__description .tier__info {
    font-size:14px;
    margin-left:5px;
    
}

.item .stomach__add {
    height:25px;
    width:25px;
    margin-left:auto;
    

    cursor: pointer;

}

.item__delete--btn, .item__add--btn {

    margin-left:5px;

    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;

    transition: all 0.3s;

}

.item .available__img {
    margin-left:5px; margin-right: 5px;
    
    width: 40px;
    display: inline-block;
    position:relative;
    filter: brightness(1.1);
    transition: all 0.2s;
}

.item .available__img:hover {
    filter: brightness(1.3);
}






.item:nth-child(even) { background-color: #f7f7f7; }




.available__food__container .item__value,
.available__food__container .item__delete--btn {
    color: #28B9B5;
}

.selected__food__container .item__value {
    color: #FF5049;

}



.item .food__info {
	display: none;
	
	position: absolute;
	min-width:192px;
    width: 250px;
	height: 220px;
	background: rgba(0,0,0,0.92);
	top:-49px;
	left: 105%;
	z-index: 9999;
	
	border: 3px ridge #5275a5;
	border-radius: 5px;
	font-family: 'abel', sans-serif;
	font-size: 32px;
	color: #84d56a;
	text-align: left;
	 
}
.available__img:hover ~ .food__info {
	display:block;
}

.item .food__info:after {
content: "";
  position: absolute;
  bottom: 60%;
	left: -18px;
  margin-left: -5px;
  border-width: 10px;
  border-style: ridge;
  border-color:  transparent #5275a5 transparent  transparent;
}

.item .food__info .food__info__title {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;

	width:100%;
	height: 40px;
	display:block;
	
}

.item .food__info .food__info__title img {
	
	height: 30px;
	position: absolute;
	left:0%;
	
}
.item .food__info .food__info__title h5 {
	display: inline-block;
	font-size: 20px;
	position: absolute;
	top:4px;
	left: 35px;
	text-align: left;
}

.food__info__nutrition h6 {
	color: #FFF;
	font-size: 18px;
}

.food__info__nutrition h6:first-child {
	
	margin-bottom: 7px;
}
.food__info__nutrition h6:last-child {
	
	margin-top: 7px;
}

.lists__container .item__delete {
    height: 22px;
	width: 22px;
}




.item__delete--btn {
    margin-bottom:4px;
    margin-left:auto;

    height: 25px;
	width: 25px;
    

    color:#FF5049;
    
    font-size: 30px;
    border-radius: 25px;
	
	text-align: center;
	font-weight: bold;
}


.item__add--btn {
	padding-top: 1px;
    padding-left:1px;
    margin-top: 1px;

    color: white;
	background: #28B9B5;
	border-radius: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	font-weight: bold;
}
.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }
.item__add--btn:active {transform: translateY(2px);}
.item:hover .item__delete--btn { display: block; }

.item__price {
	position:absolute;
	left: 97%;
	top: -38px;
}

.item__price__container img {
	height: 110px;
}

.item__price__container input {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 45px;
	top: 47px;
	right:26px;
	
	background: rgba(185,245,120,0.16);
	z-index:6;
	outline:none;
	font-family: dosis;
	font-size: 16px;
	border: 1px rgba(247,247,247,1.00);
	border-radius: 5px;
    text-align: center;
    transform: rotate(-2deg);
}



.item__price__container p {
	display: inline-block;
	position: relative;
	font-size: 30px;
	bottom: 72px;
	left: 86px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	margin: 0;
}



/**************************************
MENU PAPER
**************************************/

.menu__paper {
	position: absolute;
	
	min-width:263px;
	min-height:250px;
	
	background-image: url(public/img/paper.jpg); 
	background-size: cover;
	
	box-shadow: 6px 6px 10px rgba(109, 114, 116, 0.9);
	border-radius: 3px;
	
	transition: all 0.5s;
    right:-270px;

	transform: translateX(0%);
    filter: blur(0px);
    
    z-index:100;
}

.menu__paper.menu__visible {
    right: 8%;
    filter:blur(0px);
}

.menu__paper.menu__visible:hover {
    transform: scale(1.1);
}

.menu__result {
	margin-bottom:20px;
}

.menu__paper h1 {
	text-align: center;
	padding-top: 23px;
	font-family: 'NexaRustSlab-BlackShadow01-Free';
	letter-spacing: 2px;
	font-size: 40px;
}

.menu__paper .horizontal__line {
	width: 60%;
	height: 3px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 30px;
	position: relative;
	left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.menu__paper .spinner {
    display: none;
    text-align:center;
    height: 50px;
    margin-top: -20px;
}

.menu__paper .spinner img {
    height: 100%;
    filter: brightness(0.6);
}
.menu__paper .spinner.visible {
    display:block;
}

.menu__paper p {
	margin-left: 15%;
	font-size: 20px;
	font-family: 'Milkshake';
	line-height: 35px;
	color: rgba(85,85,85,0.78);
	word-spacing: 3px;
	letter-spacing: 0.3px;
	text-rendering: optimizeLegibility;
}

.menu__result p {
	font-size: 22px;
	word-spacing: 3px;
	
}

.menu__stomach__container {
    position:relative;
    width: 80%;
    margin:0 auto;

    font-size: 20px;
    font-family: 'Milkshake';
    border:2px solid rgba(233,155,88,1.00);
    border-radius: 10px;
    background-color: rgba(233,155,88,0.1);
}

.menu__stomach__container p {
    color: rgba(233,155,88,1.00);
    font-size: 16px;
}
.menu__stomach__container img {
    position: absolute;
    left:4px;
    top: 4px;
    background-color: rgba(233,155,88,1.00);
    width: 20px;
    height: 20px;
}
.menu__stomach__title{
    color: rgb(196, 121, 55);
    text-align: center;
    margin-left: 0px;
}

/******************
FOOTER
******************/

footer {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

	position: fixed;
	bottom:0px;
	height: 53px;
	width: 100%;
	background-color: #F7F7F7;
	border-top: 3px solid rgba(40,185,181,1.00);
	z-index: 9999;
	

}
.footer__buttons__container {
    display: flex;
    flex-direction: row;
    height: 38px;
}
.footer__button {
    height: 38px;
    width:100px;

    margin-bottom: 6px;
    margin: 0 10px;
    cursor:pointer;

    text-align:center;

    border-radius: 10px;

    transition: background-color 0.4s ease-out;
}
.highscore__button {


    font-size: 32px;
    color: rgb(174, 255, 253);
    background-color: rgb(40, 185, 181);

    
    transform-origin: center;
    box-shadow: 0px 5px rgb(36, 145, 142);
    
    
}
.highscore__button:hover {
    background-color: rgb(45, 230, 223);
}

.highscore__button.clicked{
    background-color: rgb(45, 230, 223);
    box-shadow: 0px 2px rgb(36, 145, 142);
    margin-top:6px;
    
}
.stomach__button {
	display: inline-block;
    position:inherit;
    
    padding-right:5px;
	padding-top: 0px;

    
	background-color:rgba(233,155,88,1.00);
	box-shadow: 0 5px #7E3E00;
}

.stomach__button.clicked {
    margin-top: 6px;
    box-shadow: 0 2px #7E3E00;
    background-color:rgb(247, 176, 115)
}

.stomach__button:hover {
    background-color:rgb(247, 176, 115)
}
.taste__button {
    font-size: 32px;
    color: white;
	display: inline-block;
    position:inherit;
    
    padding-right:5px;
	padding-top: 0px;

    
	background-color:rgb(233, 88, 88);
	box-shadow: 0 5px #7E3E00;
}

.taste__button.clicked {
    margin-top: 6px;
    box-shadow: 0 2px #7E3E00;
    background-color:rgb(247, 115, 115)
}

.taste__button:hover {
    background-color:rgb(247, 115, 115)
}

/***********************************************
***STOMACH CONTAINER
***********************************************/



.stomach__container {
	position: fixed;
    
    width: 280px;
	height: 400px;
	bottom: -365px;
	
    background: rgba(240,146,70,1);
    background: -moz-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,146,70,1)), color-stop(100%, rgba(242,203,169,1)));
    background: -webkit-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -o-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    background: linear-gradient(to bottom, rgba(240,146,70,1) 0%, rgba(242,203,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09246', endColorstr='#f2cba9', GradientType=0 );

	
	border: 4px double rgb(255, 200, 137);
    border-radius: 20px;
    
    transition: all 0.4s;

    z-index: 1000;
}

.stomach__container.visible {
    bottom: 55px;

}

.stomach__container h1 {
    text-align: center;

    margin-top:10px;
    font-size: 34px;
    font-weight: 700;
    color: rgb(94, 41, 41);

    

}




.stomach__apply__button__container {
    display:inline-block;
    text-align: center;
    width:176px;
    height: 40px;
    margin-left:47px;
    
}

.stomach__apply__button__flipper {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    width: 11em; height: 2.5em;
    background-color: rgb(241, 198, 161);
    box-shadow: 0 3px 5px rgb(238, 166, 104);
    transition: all 0.6s cubic-bezier(.36,.65,.37,1.39);
    transform-style: preserve-3d;
    
    cursor:pointer;
    
}

.stomach__apply__button__flipper.clicked {
    transform: rotateX(90deg);
}

.stomach__apply__button__front-face, .stomach__apply__button__back-face {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    
    letter-spacing: 2px;
    line-height: 2.5em;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.158);
    
}

.stomach__apply__button__front-face {
    background-color: #77341F;
    color: #fff;
    text-shadow: 0 1px 1px black;
    
    transform: rotateX(0deg) translateZ(1.25em);
    
    
}

.stomach__apply__button__back-face {
    background-color: #3FC258;
    color: white; 
    transform: rotateX(-90deg) translateZ(1.25em);
    
}

.stomach__list__container {
    display: inline-block;

    overflow:auto;
    overflow-x: hidden;

    scrollbar-color: rgb(128, 46, 58) rgb(237, 102, 122);
    scrollbar-width: thin;
    margin: 20px 0 0 6px;
    height: 270px;
    border-radius: 20px;
    width: 260px;
    background-color: rgb(237, 102, 122);
    box-shadow: inset 0px 0px 4px 1px rgb(104, 56, 1);

    
    
    }


.stomach__list__container .item {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    
    padding: 5px 0px 0px 6px;
    margin: 1px 0 0 15px;
    
    height: 40px;
    width: 230px;
    
    background-color:rgba(162, 65, 65, 0.96);;

    border-radius: 5px;
    border: 2px solid #ec7b7b;
}

.stomach__list__container .item:first-child {
    margin-top: 8px;
}

.stomach__list__container .item .item__description {
    font-size: 20px;
    font-weight: 500;
    color: rgb(248, 205, 156)
}

.stomach__list__container .item .stomach__food__input  {
    margin: -2px 5px 0 auto;
    padding-left: 4px;
    width: 35px;
    height: 30px;
    border:none;
    background:rgb(255, 153, 168);
    border-radius: 4px;
    font-size: 20px;

    box-shadow: inset 0px 0px 2px 1px rgb(104, 56, 1);
}



.stomach__list__container .item  .stomach__item__delete--btn {
    
    padding: 1px 6px 0 0;
    

    color:rgb(253, 124, 144);

    background: none;
    border: none;
    cursor: pointer;
    line-height: 0;

    font-size:24px;
}



/**********************************************
*** HIGH SCORE
**********************************************/



.highscore__container {
    position: fixed;
    width: 280px;

    min-height: 20%;
    right: 0;
    bottom: -100%;
    background: rgba(247,247,247,1.00);

	border: 3px solid rgba(40,185,181,1.00);
	border-bottom: 0px;
    border-radius: 10px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    font-size: 20px;
    color: #64707B;
    font-family: inherit;

    transition: all 0.5s;

	z-index: 999;
}

.highscore__container.visible {
    bottom:49px;
}

.highscore__container .highscore__title {
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    width: inherit;
    height: 50px;
}

.highscore__container .highscore__title .best__button {
    width:35px;
    height: 35px;
    background-color: rgba(40,185,181,1.00);
    
    align-self: center; 
    text-align: center;

    padding-top:3px;
    margin: 6px 0 0 15px;

    cursor: pointer;
    color:white;
    font-weight: 700;

    border-radius: 10px;
    box-shadow: 0px 5px rgb(36, 145, 142);
    
    
}
.highscore__container .highscore__title .best__button.clicked{
    box-shadow:none;
    margin: 11px 0 0 15px;
}


.highscore__content h2 {
    letter-spacing: 0px;
}
.highscore__content {
    margin-left: 15px;
	padding-bottom: 15px;
}
.highscore__content p {
    font-size: 16px;
}

/**********************************************
*** TASTE CONTAINER
**********************************************/


.taste__container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 500px;

    background: black;

    z-index: 9999;
}